<div onclick="sys_redirect('{$MASTER->insert-href}');" class="col-6 col-span-2 desktop-span-2 tablet-span-3 mobile-span-6">
    <div class="shop-item">

        <div class="shop-item-inner center hoverable w3-animate-bottom">
            <div class="image-container">
                <img src="{$MASTER->insert-image_src}" alt="">
            </div>

            <div class="mar-15-10 h6 b1 satisfy">{$MASTER->insert-title}</div>

            <div class="mar-15-10 title-divider"></div>

            <div class="mar-15-10 h2 b1 gray quicksand">{$MASTER->insert-description}</div>

            <div class="mar-15-10 h2 b4">{$MASTER->insert-price}</div>
           
        </div>

    </div>
</div>